<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WallPaper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>040ED77F20C4DF4A00B6A0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040ED79620C4DF4C00B6A0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040ED7A120C4DF4C00B6A0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
